{% extends 'base.html.twig' %}

{% block carousel %}
{% endblock %}

{% block content %}


    <h2 class="home_title" >Meilleures ventes</h2>
        <div class="best-seller">
            {% for product in products %}
                {% include 'product/single.html.twig' %}
            {% endfor %}
        </div>

    <h2 class="home_title_cat" >Nos catégories  </h2>
        <div class="category_list">
            {{ render(controller(
                'App\\Controller\\CategoryController::CategoryHome'
            )) }}
        </div>

        
{% endblock %}