.block_register{
    background: #FFFFFF;
    padding: 1rem 2rem;
    max-width: 700px;
    margin: 2rem auto;

    .form_grid{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    /*
    &_input{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

        label{
            width: 35%;
        }

    }*/
    
    p{
        margin: 1rem;
        text-align: center;

        a{
        color: #23B9D7;
        }
    }

    button{
    margin: 0 auto;
    display: flex;
    background-color: #23B9D7;
    color: #ffffff;
    border: 0px;
    padding: 0.5rem 1rem;
    }

   
}