.block_register {
    padding: 1rem 2rem;
    max-width: 1000px;
    padding: 30px 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 40px;

    .form_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;

        &_content {

            .form-group {
                display: flex;
                flex-direction: column;

                input {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 1px solid #707070;
                    border-radius: 5px;
                    padding: 7px 0 7px 10px;
                }

            }

        }

    }

    .form_grid_content {
        margin-bottom: 1rem;
    }

    .link_login {
        font-size: 15px;
        color: #54595F;
        margin: 1rem;
        text-align: center;

        a {
            margin: 0 auto;
            text-decoration: unset;
            color: #F9CDCB;

            &:hover {
                text-decoration: underline;
            }

        }

    }

    button {
        margin: 0 auto;
        background: #F9CDCB 0% 0% no-repeat padding-box;
        border-radius: 4px;
        display: -webkit-box;
        font-size: 15px;
        display: -ms-flexbox;
        display: flex;
        color: #ffffff;
        border: 0px;
        margin-top: 40px;
        padding: 10px 80px;
        margin-bottom: 20px;
        
        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 6px #00000029;
            transition: .2s linear;
        }
    }


}