{{ form_start(form) }}
<div class="searchBar_nav">
    <div class="searchBar_nav_btn">{{ form_row(form.recherche) }}</div>
    <div class="searchBar_nav_input">{{ form_row(form.query) }}</div>
</div>
{{ form_end(form) }}