* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1465px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top .top-header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.fixed-top .top-header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px;
}

.fixed-top .top-header_content_search-bar {
  width: 950px;
  height: 20px;
}

.fixed-top .top-header_content_search-bar .searchBar_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  border: 1px solid #7C7D7C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.fixed-top .top-header_content_search-bar .searchBar_nav_btn #form_recherche {
  color: #7C7D7C;
  outline: none !important;
  display: inline-block;
  padding: 1rem !important;
  font-size: 17px !important;
  background-color: #0000;
  border: 1px solid #0000;
  padding: 0.375rem 0.75rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fixed-top .top-header_content_search-bar .searchBar_nav_input input {
  background: unset;
  outline: none !important;
  border: unset;
  color: #6C757D;
  font-size: 17px;
}

.fixed-top .top-header_content_search-bar .form-group {
  margin: 0;
}

.fixed-top .top-header_content_action span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-top .top-header_content_action span a i {
  color: #7A7A79;
  font-size: 20px;
}

.fixed-top .top-header_content_action span .nav_cart a i {
  margin-right: 1.4rem;
}

.fixed-top .top-header_content_action span .account_menu_hover .hover-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 9;
}

.fixed-top .top-header_content_action span .account_menu_hover:hover .hover-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-top .navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #54595F !important;
}

.fixed-top .navbar .nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-right: auto !important;
}

.fixed-top .navbar .nav li .li-dropdown {
  position: relative;
}

.fixed-top .navbar .nav li .dropdown {
  white-space: nowrap;
}

.fixed-top .navbar .nav li .dropdown::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid #0000;
  border-bottom: 0;
  border-left: 0.3em solid #0000;
}

.fixed-top .navbar .nav li:hover .dropdown-menu {
  display: unset !important;
}

.fixed-top .navbar .nav li .dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00000026;
  border-radius: 0.25rem;
}

.fixed-top .navbar .nav li .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: #0000;
  border: 0;
}

.fixed-top .navbar .nav li .nav-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 1rem;
  font: normal normal 300 15px/29px Poppins;
}

.footer-custom {
  background-color: #54595F;
  padding-top: 3rem;
}

.footer-custom_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-bottom: 2rem;
}

.footer-custom_img a {
  margin: 0 auto;
}

.footer-custom_img img {
  width: 250px;
}

.footer-custom_nav, .footer-custom_rs, .footer-custom_mention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-bottom: 1rem;
}

.footer-custom_nav li a, .footer-custom_rs li a, .footer-custom_mention li a {
  color: #E8D6D6;
  text-decoration: none;
  font: normal normal 300 20px/20px Poppins;
}

.footer-custom_nav li:nth-child(-n+5) a {
  margin-right: 2rem;
  position: relative;
}

.footer-custom_nav li:nth-child(-n+5) a:after {
  position: absolute;
  content: "|";
  margin-left: 1rem;
}

.footer-custom_mention {
  padding-bottom: 2rem;
}

.footer-custom_mention li:first-child a {
  margin-right: 2rem;
  position: relative;
}

.footer-custom_mention li:first-child a:after {
  position: absolute;
  content: "|";
  margin-left: 1rem;
}

.home_title, .home_title_cat {
  font: normal normal 900 65px/120px Poppins;
  position: relative;
  color: #54595F;
  margin-bottom: 70px;
  overflow: hidden;
}

.home_title::after, .home_title_cat::after {
  position: absolute;
  content: " ";
  width: 1000px;
  height: 22px;
  top: 50%;
  background-color: #F9CDCB;
  margin-left: 3rem;
}

.home_title_cat {
  margin-top: 70px;
}

.best-seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-seller_card {
  overflow: hidden;
}

.best-seller_card_content_product {
  position: absolute;
  bottom: -62.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #F9CDCB;
  padding: 0.7rem;
  color: #54595F;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  opacity: 0;
}

.best-seller_card_content_product div {
  line-height: 25px;
}

.best-seller_card_content_product div .product_name {
  font: normal normal 600 15px/15px Poppins;
}

.best-seller_card_content_product div .product_price {
  font: normal normal 400 13px/13px Poppins;
}

.best-seller_card a:hover .best-seller_card_content_product {
  bottom: 0px;
  opacity: 1;
}

.best-seller_card:hover {
  -webkit-box-shadow: 0px 0px 10px #00000010;
          box-shadow: 0px 0px 10px #00000010;
}

.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category_list a {
  text-decoration: none;
}

.category_list_card a div {
  -webkit-box-shadow: inset 0px 35px 35px #00000080;
          box-shadow: inset 0px 35px 35px #00000080;
}

.category_list_card a div p {
  font: normal normal 300 25px/25px Poppins;
  letter-spacing: 0px;
  color: #fff;
  margin: 20px;
  position: absolute;
}

.category_page {
  margin-top: 100px;
}

.category_page h3 {
  text-align: center;
  font: normal normal bold 50px/76px Poppins;
  color: #54595F;
  position: relative;
}

.category_page h3::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 22px;
  top: 100%;
  background-color: #F9CDCB;
  left: 0;
}

.category_page .product_category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 55px;
  margin-top: 100px;
}

.category_page .product_category_card {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.category_page .product_category_card_item a {
  text-decoration: none;
}

.category_page .product_category_card_item a .product-name {
  font: normal normal 600 16px/15px Poppins;
  color: #54595F;
  margin: 10px 0;
}

.category_page .product_category_card_item a .product-price {
  font: normal normal normal 17px/30px Poppins;
  color: #54595F;
}

.category_page .product_category_card_item a:hover .product_category_card_item_hover {
  opacity: 1;
  bottom: 4px;
}

.category_page .product_category_card .img_hover .product_category_card_item_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  background: #F9CDCB;
  padding: 0.7rem;
  color: #54595F;
  bottom: -34px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  opacity: 0;
}

.category_page .product_category_card .img_hover .product_category_card_item_hover i {
  margin: 0 auto;
  font-size: 20px;
}

.product_show {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  margin-bottom: 144px;
}

.product_show_img {
  margin: 0 auto;
}

.product_show_img img {
  width: 500px;
}

.product_show_content h3 {
  font: normal normal bold 40px Poppins;
  color: #54595F;
}

.product_show_content hr {
  margin-bottom: 30px;
}

.product_show_content .product-page-price {
  font: normal normal normal 20px Poppins;
  color: #54595F;
}

.product_show_content .product-page-subtitle {
  font: 17px;
  font-style: italic;
  color: #FF0000;
  margin-top: 25px;
}

.product_show_content .product-page-description {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  margin: 35px 0;
}

.product_show_content .product-page-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_show_content .product-page-select p {
  margin-right: 20px;
  font-weight: 600;
  color: #000000;
}

.product_show_content .product-page-select select {
  width: 200px;
  height: 35px;
  background: #F1F1F1 0% 0% no-repeat padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

.product_show_content .btn_add_cart {
  margin-top: 40px;
  background: #F9CDCB;
  border: 0;
  border-radius: 4px;
  padding: 10px 80px;
  color: #fff;
  font-size: 15px;
}

h1 {
  margin: 80px 0 40px 0;
  font-size: 45px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_list_head {
  width: 800px;
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
  -ms-grid-columns: (1fr)[5] 0.5fr;
      grid-template-columns: repeat(5, 1fr) 0.5fr;
}

.cart_list_head span:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: left;
}

.cart_list_head span {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.cart_list_content {
  width: 800px;
  display: -ms-grid;
  display: grid;
  border-top: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  -ms-grid-columns: (1fr)[5] 0.5fr;
      grid-template-columns: repeat(5, 1fr) 0.5fr;
}

.cart_list_content p {
  text-align: center;
}

.cart_list_content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.cart_list_content_img img {
  width: 100px;
  margin-right: 10px;
}

.cart_list_content_qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #444;
  margin: 0 auto;
  border-radius: 20px;
}

.cart_list_content_qty form .btn_minus,
.cart_list_content_qty form .btn_plus {
  background: unset;
  padding: 8px;
  border: unset;
  color: #F9CDCB;
}

.cart_list_content_qty span {
  padding: 8px;
  color: white;
  background-color: #7B7B7B;
}

.cart_list_content_delete {
  text-align: center;
}

.cart_list_content_delete .btn_delete_item {
  background-color: unset;
  border: unset;
}

.cart_list_content_delete .btn_delete_item i {
  color: #FF9898;
  font-size: 25px;
}

.cart_total {
  width: 425px;
  border: 1px solid #707070;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
}

.cart_total_p {
  font-size: 25px;
  color: #54595F;
  text-transform: uppercase;
  font-weight: 700;
}

.cart_total_p span {
  font-size: 15px;
  font-weight: 400;
}

.cart_total_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
}

.cart_total_content div .libelle {
  font-size: 15px;
  font-weight: 500;
}

.cart_total_content div .libelle span {
  font-size: 14px;
  font-weight: 300;
}

.cart_total_content_subtotal .prix {
  font-size: 20px;
  font-weight: 600;
  color: #F9CDCB;
}

.cart_total_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.cart_total_btn_a {
  background: #F9CDCB;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 80px;
  color: white;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: linear .2s;
  transition: linear .2s;
  -webkit-box-shadow: 0px 5px 15px -11px #00000000;
          box-shadow: 0px 5px 15px -11px #00000000;
}

.cart_total_btn_a:hover {
  -webkit-box-shadow: 0px 5px 15px -11px #000000;
          box-shadow: 0px 5px 15px -11px #000000;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}
/*# sourceMappingURL=style.css.map */